<a href="https://colab.research.google.com/github/pranav1845/Data_Science_Internship/blob/main/Day_1%262_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print("hello")

hello

In [3]:
name = input("enter your name :")

enter your name :Pranav

In [4]:
print("hello" + name)

helloPranav

In [5]:
var1 = int( input("Enter first number: "))

Enter first number: 35

In [6]:
var2 = int(input("Enter second number: "))

Enter second number: 35

In [8]:
print("Addition of two number is :" + str((var1 + var2)))

Addition of two number is :70

In [ ]:
# Task : Create Simple Calculator in Python using Appropriate tokens


value1 = int(input("Enter first number: "))
value2 = int(input("Enter second number: "))
operator = input("Enter operation to perform ( +,-,/,*)")

match operator :
  case '+':
    print(value1+value2)
  case '-':
    print(value1-value2)
  case '/':
    if(value2 == 0):
      print("Can not divide by 0.")
      exit
    print(value1/value2)
  case '*':
    print(value1 * value2)
  case _:
    print("Wrong steps : better luck next time ")

In [8]:
# Slicing in Python Programming
s = "Python pro"

data =s[3:0:-1]

print(data)

hty

In [9]:
# List data type in python programming

productList = ["mobile, laptop, bike, car"]
print(productList)

['mobile, laptop, bike, car']