# ***Basic concepts of programming in python***

### `Variable and Data type in python `

***Variable*** : In Python, variables are just names (labels) that **point to** objects in memory. They are not boxes, not containers, and not the data itself.

1️⃣ Example :

      x ─────▶ 10


* x → variable (a name)

* 10 → object (an int)

* arrow is the reference / binding

---


2️⃣ Rebinding a name :

x = 10   
x = 20

      before:
      x ─────▶ 10

      after:
      x ─────▶ 20

* 10 is untouched

* x is simply rebound to a new object

---


3️⃣ Two names, one object :

a = [1, 2, 3]  
b = a

      a ─┐
         ├────▶ [1, 2, 3]
      b ─┘

* Now both a and b references to one object i.e list [1,2,3] in memory.  

---


4️⃣ Mutation vs rebinding :

Mutable object (list) :

`b.append(4)`

      a ─┐
         ├────▶ [1, 2, 3, 4]
      b ─┘

* The object changed

* Both names see the change







Immutable object (int)

      x = 5    
      y = x  
      x = x + 1

`y ─────▶ 5               
x ─────▶ 6`

* 5 was never modified

* x now points to a new object


------


5️⃣ Function arguments :



```
def f(n):
    n.append(99)

lst = [1, 2]
f(lst)
```





        lst ─────▶ [1, 2]
                      ▲
                      │
                      n


* Function parameters are new names

* They reference the same object
              

----


6️⃣ Key rule :

* Names are cheap

* Objects hold data

* Assignment binds names, it does not copy objects





----

## Note :


* Variable name in python shall only start with letters or underscore .
 * Allowed: Letters (a-z, A-Z), digits (0-9), underscore (_)
 * Naming conventions for python snake_case (optional)


## Constants :

      # Use UPPER_SNAKE_CASE for constants
      MAX_SIZE = 100
      API_KEY = "your_api_key_here"
      DEFAULT_TIMEOUT = 30
      PI = 3.14159
      DATABASE_URL = "postgresql://localhost/mydb"

* All uppercase letters with underscores separating words.
* Defined at the module level (top of the file).
* Not truly immutable - Python doesn't enforce constant values, it's just a naming convention to signal "don't modify this".

In [27]:


age = 18
print(age)

18

In [33]:
VALID_AGE = 18 # constant
print(VALID_AGE)

18

In [28]:
name = 'tony stark'
print(name)

tony stark

In [29]:
name = input("Enter your name :") # input() always return str
print(name)

Enter your name :hello
hello

***Data Types*** : Python has several built-in data types that are fundamental to programming. Here are the main ones:  

Numeric Types:

* int - integers (whole numbers like 5, -100, 0)
* float - floating-point numbers (decimals like 3.14, -0.5)
* complex - complex numbers (like 3+4j)

Sequence Types:

* str - strings (text like "hello")
* list - ordered, mutable collections [1, 2, 3]
* tuple - ordered, immutable collections (1, 2, 3)
* range - sequence of numbers, often used in loops

Mapping Type:

* dict - dictionaries, key-value pairs {"name": "Alice", "age": 25}

Set Types:

* set - unordered collection of unique items {1, 2, 3}
* frozenset - immutable version of set

Boolean Type:

* bool - True or False values

Binary Types:

* bytes - immutable sequence of bytes
* bytearray - mutable sequence of bytes
* memoryview - memory view object

None Type:

* NoneType - represents the absence of a value (None)

----

Note :
* Python is dynamically typed language, so data type is hidden from user. Which provide higher level of abstraction to users.
* Python data types takes huge numbers of bytes to store even int, float, str.
* Python only focuses on provide it's user with higher level of **abstractions**, so the user only focuses on problem solving.

----

Tip :

* Use type() function to determine data type of a variable.

In [35]:
name = 'Nick'
age = 21
marks = 89.98

print("name is type of ", type(name))
print("age is type of ", type(age))
print("marks is type of ", type(marks))

name is type of  <class 'str'>
age is type of  <class 'int'>
marks is type of  <class 'float'>

In [37]:
print(type(None))

<class 'NoneType'>

In [39]:
# Boolean variable can be True or False

married_status = False
print(married_status)
print(type(married_status))

False
<class 'bool'>

In [41]:
# With numbers (int, float) you can do math
x = 15
y = 13.23

print(x+15, x*2)
print(y+10, y*2)

30 30
23.23 26.46

In [43]:
# With STRINGS (str) - you can concatenate (join) text
first = "Hello"
last = "World"
print(first + last)   # "HelloWorld" ✓ works
print(first * 3)      # "HelloHelloHello" ✓ works

# But you CAN'T mix incompatible operations
name = "Alice"
age = 25
#print(name + age)     # ✗ ERROR! Can't add string and number

HelloWorld
HelloHelloHello

## Real World Exmaple

In [46]:
# Product information uses different data types

product_name = "Laptop"           # str - text description
price = 899.99                    # float - money (has decimals)
quantity = 2                      # int - whole number (can't buy 2.5 laptops!)
in_stock = True                   # bool - yes/no question
categories = ["Electronics", "Computers"]  # list - multiple values

# Calculate total (works because price and quantity are numbers)
total = price * quantity
print(f"Total: ${total}")  # Total: $1799.98

# Create a description (works because we're joining strings)
message = product_name + " is in stock"
print(message)  # Laptop is in stock

Total: $1799.98
Laptop is in stock

## Memory and Storage Example

In [ ]:
small_number = 5           # Takes small amount of memory
large_text = "A" * 1000000  # Takes much more memory (1 million characters)

# Python knows how much space each needs based on their data type
print(large_text)