<a href="https://colab.research.google.com/github/pranav1845/Data_Science_Internship/blob/main/Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# Day three of Data Science Internship
print("Hello ")

# Tuples in the Python (Read-Only version of list)
container = ("apple", "banana", "cherry", "orange", "pomogranade", "kiwi")
print(container) #print tuple

# Range in tuple
print(container[2:4])

container.index("cherry")

# printing empty tuple
var = ()
print(var)

Hello
('apple', 'banana', 'cherry', 'orange', 'pomogranade', 'kiwi')
('cherry', 'orange')
()

In [12]:
#tuple of students and using (for) loop to iterate through it

classData = ("pranv", "pratik", "ganesh", "Sddhesh")

for s in classData:
  if s == "ganesh":
    print("He is from pune")
# marks iteration

marks = (
45, 60, 35, 75, 7,
12, 18, 23, 29, 56,
34, 38, 41, 45, 49,
53, 57, 60, 64, 68,
71, 75, 79, 83, 86,
89, 92, 95, 97, 100)

for mark in marks:
  if mark < 45:
    print("fail")

He is from pune