# ***Data Structures and their methods in python***

1. List
2. Tuple
3. Dictionary
4. Set

### `1.List :`

List in python is ordered collection of heterogenous items and they are mutable

## Creating List :

In [1]:
empty_list = []
print(empty_list)

[]

In [2]:
numbers = [1,2,4,5,5,3,2]
print(type(numbers))
print(numbers)

<class 'list'>
[1, 2, 4, 5, 5, 3, 2]

In [3]:
mixed = [1, "hello", 3.14, True]  # Can mix types
print(mixed)

[1, 'hello', 3.14, True]

In [4]:
nested = [[1, 2], [3, 4], [5, 6]]  # Lists inside lists
print(nested)

[[1, 2], [3, 4], [5, 6]]

In [5]:
# Using list() constructor

from_string = list("hello")  # ['h', 'e', 'l', 'l', 'o']
from_range = list(range(5))  # [0, 1, 2, 3, 4]

print(from_string)
print(from_range)

['h', 'e', 'l', 'l', 'o']
[0, 1, 2, 3, 4]

## Accessing Elements :

In [6]:
fruits = ["apple", "banana", "cherry", "date"]

# Indexing (starts at 0)
print(fruits[0])   # apple (first item)
print(fruits[2])   # cherry (third item)
print(fruits[-1])  # date (last item)
print(fruits[-2])  # cherry (second from end)

# Slicing [start:stop:step]
print(fruits[1:3])    # ['banana', 'cherry']
print(fruits[:2])     # ['apple', 'banana'] (first 2)
print(fruits[2:])     # ['cherry', 'date'] (from index 2 to end)
print(fruits[::2])    # ['apple', 'cherry'] (every 2nd item)
print(fruits[::-1])   # ['date', 'cherry', 'banana', 'apple'] (reverse)

apple
cherry
date
cherry
['banana', 'cherry']
['apple', 'banana']
['cherry', 'date']
['apple', 'cherry']
['date', 'cherry', 'banana', 'apple']

## Modifying Lists (Because They're Mutable) :

In [8]:
shopping = ["milk", "bread", "eggs"]

# Change an item
shopping[1] = "butter"
print(shopping)

# Add items
shopping.append("cheese")  # Add at end
print(shopping)

shopping.insert(1, "yogurt")  # Insert at index 1
print(shopping)

shopping.extend(["apples", "oranges"])  # Add multiple items
print(shopping)

# Remove items
shopping.remove("butter")  # Remove by value
print(shopping)

last_item = shopping.pop()  # Remove and return last item
print(last_item)  # oranges
print(shopping)

second_item = shopping.pop(1)  # Remove at index 1
print(second_item)  # yogurt

del shopping[0]  # Delete by index
print(shopping)

shopping.clear()  # Remove all items
print(shopping)  # []

['milk', 'butter', 'eggs']
['milk', 'butter', 'eggs', 'cheese']
['milk', 'yogurt', 'butter', 'eggs', 'cheese']
['milk', 'yogurt', 'butter', 'eggs', 'cheese', 'apples', 'oranges']
['milk', 'yogurt', 'eggs', 'cheese', 'apples', 'oranges']
oranges
['milk', 'yogurt', 'eggs', 'cheese', 'apples']
yogurt
['eggs', 'cheese', 'apples']
[]

## List operations :

In [9]:
numbers = [3, 1, 4, 1, 5, 9, 2]

# Sort (modifies original)
numbers.sort()
print(numbers)  # [1, 1, 2, 3, 4, 5, 9]

numbers.sort(reverse=True)
print(numbers)  # [9, 5, 4, 3, 2, 1, 1]

# Reverse (modifies original)
numbers.reverse()
print(numbers)  # [1, 1, 2, 3, 4, 5, 9]

# Count occurrences
print(numbers.count(1))  # 2

# Find index
print(numbers.index(5))  # 5 (index of first occurrence)

# Length
print(len(numbers))  # 7

# Check membership
print(5 in numbers)  # True
print(10 in numbers)  # False

[1, 1, 2, 3, 4, 5, 9]
[9, 5, 4, 3, 2, 1, 1]
[1, 1, 2, 3, 4, 5, 9]
2
5
7
True
False

### `2.Tuple: `

Tuple are odered collections just like list, but they are **immutable** .

### Creating Tuples :

In [10]:
# Using parentheses
empty_tuple = ()
single_item = (5,)  # Note: comma needed for single item!
numbers = (1, 2, 3, 4, 5)
mixed = (1, "hello", 3.14, True)
nested = ((1, 2), (3, 4), (5, 6))

# Without parentheses (tuple packing)
coordinates = 10, 20, 30  # Also a tuple!
print(type(coordinates))  # <class 'tuple'>

# Using tuple() constructor
from_list = tuple([1, 2, 3])  # (1, 2, 3)
from_string = tuple("hello")  # ('h', 'e', 'l', 'l', 'o')

<class 'tuple'>

### Accessing elements :

In [ ]:
colors = ("red", "green", "blue", "yellow")

print(colors[0])   # red
print(colors[-1])  # yellow
print(colors[1:3]) # ('green', 'blue')

### Tuples are Immutable :

    point = (10, 20)

    # Try to change - ERROR!
    # point[0] = 15  # TypeError: 'tuple' object does not support item assignment

    # Try to add - ERROR!
    # point.append(30)  # AttributeError: 'tuple' object has no attribute 'append'

    # Try to remove - ERROR!
    # point.remove(10)  # AttributeError: 'tuple' object has no attribute 'remove'

    # The ONLY way to "change" is to create a new tuple
    point = (15, 25)  # This works (creates new tuple)

### Tuple Operations (Limited) :

In [11]:
numbers = (1, 2, 3, 2, 4, 2, 5)

# Count
print(numbers.count(2))  # 3

# Index
print(numbers.index(4))  # 4

# Length
print(len(numbers))  # 7

# Membership
print(3 in numbers)  # True

# Concatenation (creates new tuple)
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined = tuple1 + tuple2
print(combined)  # (1, 2, 3, 4, 5, 6)

# Repetition
repeated = (1, 2) * 3
print(repeated)  # (1, 2, 1, 2, 1, 2)

3
4
7
True
(1, 2, 3, 4, 5, 6)
(1, 2, 1, 2, 1, 2)

## *Basic Rule* :
* Use lists when your data will change (dynamic)
* Use tuples when your data is fixed (static)

#