<a href="https://colab.research.google.com/github/pranav1845/Data_Science_Internship/blob/main/Day_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# Day three of Data Science Internship
print("Hello ")

# Tuples in the Python ( Immutable data type)
container = ("apple", "banana", "cherry", "orange", "pomogranade", "kiwi")
print(container) #print tuple

# Slicing in tuple
print(container[2:4])

container.index("cherry")

# printing empty tuple
var = ()
print(var)

Hello
('apple', 'banana', 'cherry', 'orange', 'pomogranade', 'kiwi')
('cherry', 'orange')
()

In [22]:
#tuple of students and using (for) loop to iterate through it

classData = ("pranv", "pratik", "ganesh", "Sddhesh")

for s in classData:
  if s == "ganesh":
    print("He is from pune")
# marks iteration

marks = (
45, 60, 35, 75, 7,
12, 18, 23, 29, 56,
34, 38, 41, 45, 49,
53, 57, 60, 64, 68,
71, 75, 79, 83, 86,
89, 92, 95, 97, 100)
no_of_fail = 0
avg_fail_mark = 0

for mark in marks:
  if mark < 45:
    avg_fail_mark = avg_fail_mark + mark # suming marks of failed stduent to obtain avg fail mark
    no_of_fail = no_of_fail + 1
    print(f"Student {no_of_fail} : fail")
print("Total number of fail studnets ", no_of_fail)
print("worst marks in tuple", min(marks))
print("Average failing mark :", avg_fail_mark / no_of_fail)

He is from pune
Student 1 : fail
Student 2 : fail
Student 3 : fail
Student 4 : fail
Student 5 : fail
Student 6 : fail
Student 7 : fail
Student 8 : fail
Student 9 : fail
Total number of fail studnets  9
worst marks in tuple 7
Average failing mark : 26.333333333333332

In [26]:
# Set in python

# Set items are unordered, unchangable, and do not allow duplicate values
# Unordered means they don't have predefined order
# Set does not allow duplicates values


sdata = {"apple", "pineapple", "orange", "pomogranade", "kiwi"}
# print Set
print(sdata)

# returns the type of data type
print(type(sdata))

#check if item is in set or not
print("orange" in sdata)

#updaing existing Set
new_set = {"mango", "cherry", "apple"}

sdata.update(new_set)

print(sdata)

# add() and remove() method of Set

sdata.add("Pinakal")

sdata.remove("orange")

# pop() method

sdata.pop()

{'orange', 'pineapple', 'pomogranade', 'kiwi', 'apple'}
<class 'set'>
True
{'orange', 'pineapple', 'mango', 'pomogranade', 'cherry', 'kiwi', 'apple'}

In [27]:
# Dictionary in python

thisdic = {"id": 35,
           "name": "Pranav",
           "honors": "AIML"
           }
print(thisdic["honors"])

AIML